.sequence {
  padding: 35px 0 0 40px;
  width: 100%;
  font-family: "Poppins", sans-serif;
  .top {
    display: flex;
    flex-direction: row;
    align-items: center;
    .save {
      margin-left: 80%;
      width: 150px;
      height: 45px;
      background: #6ac7be;
      box-shadow: 0px 4px 20px rgba(0, 5, 56, 0.1);
      border-radius: 20px;
      color: #fff;
    }
  }
  .doctor {
    display: flex;
    align-items: center;
    width: 283px;
    height: 43px;
    border: 1px solid #d3d3ff;
    border-radius: 20px;
    padding-left: 20px;
    margin-right: 100px;
    margin-bottom: 42px;
    &_name {
      margin-right: 133px;
    }
  }
  h1 {
    width: 226px;
    height: 21px;
    font-weight: 500;
    font-size: 14px;
    line-height: 21px;
    color: #6ac7be;
    margin-left: 700px;
    margin-bottom: 20px;
  }

  .rooms {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
  }
  .rooms_creation_block {
    height: 110px;
    width: 147px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-right: 24px;
    margin-bottom: 10px;
    .create {
      color: #6ac7be;
      font-size: 14px;
      font-weight: 500;
    }
  }
  .add_block {
    display: flex;
    align-items: center;
    padding-bottom: 10px;
  }
  .cards {
    display: flex;
    align-items: flex-start;
    flex-direction: row;
    flex-wrap: wrap;
  }
  .drag_in {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 20px;
    width: 1658px;
    min-height: 150px;
    height: auto;
    left: 202px;
    background: #fbfbff;
    border: 1px dashed #6ac7be;
    border-radius: 3px;
    .active_cards {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      margin-left: 20px;
    }
  }
}
